@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Oxygen;
    src: url('assets/fonts/oxygen/Oxygen-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Oxygen;
    src: url('assets/fonts/oxygen/Oxygen-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Oxygen;
    src: url('assets/fonts/oxygen/Oxygen-Bold.ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html,
    body,
    :root,
    #app {
        @apply h-full;
        font-family: Proxima Nova, system-ui, sans-serif;
    }
}